@import '../../assets/colors.scss';
@import '../../assets/mq.scss';
$nav-height: 85px;

.closet-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  margin: 118px 10px 0 10px;

  @include mq($from: desktop) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto;
    margin: $nav-height 60px 0;
  }

  &_title {
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: 28px;
    text-align: center;
    align-self: center;
    font-family: 'Playfair Display', serif;

    @include mq($from: desktop) {
      grid-column: 5 / span 4;
      font-size: 28px;
    }
  }

  &__menu {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    flex-direction: row;

    padding: 0 10px;

    @include mq($from: desktop) {
      grid-column: 1 / span 2;
      flex-direction: column;
    }
    &__button {
      // @include button;

      font-family: 'Lato', sans-serif;
      // FCF8F5

      // margin: 10px 0px;
      // margin-right: 60px;
      font-size: 12px;
      letter-spacing: 0.2em;
      height: 40px;
      font-weight: 500;
    }
  }

  &_table {
    grid-row: 3;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    justify-items: center;
    @include mq($from: desktop) {
      grid-column: 3 / span 8;
      grid-row: 2;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &_item {
    width: 155px;
    margin: 0;
    animation: 1s ease-in 2s 3 linear;
    border-bottom: grey 1px;
    @include mq($from: desktop) {
      padding: 10px;
    }

    :hover {
      cursor: pointer;
    }
  }

  &_name-body {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    text-transform: lowercase;

    :hover {
      text-transform: uppercase;
    }
  }

  &_image-body {
    display: flex;
    justify-content: center;

    :hover {
      opacity: 0.9;
    }
  }

  &_desc-body {
    margin: 25px auto 25px 35px;
    font-family: 'Lato', sans-serif;
  }

  &_buttons {
    display: flex;
    justify-content: center;
  }

  &_remove-button {
    @include button;
  }
}
