@import '../../assets/colors.scss';

.closet-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  margin: 0 60px;

  &_title {
    grid-row: 1;
    grid-column: 6 / span 2;
    font-size: 28px;
  }

  &_nav {
    grid-column: 1 / span 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
  }

  &_menu-button {
    @include button;
    text-transform: uppercase;
  }

  &_table {
    grid-row: 2;
    grid-column: 3 / span 8;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    justify-items: center;
  }

  &_item {
    // width: 200px;
    // margin: 30px 50px;
    // animation: div 1s ease-in 2s 3 linear fill-mode;
    // border-bottom: grey 1px;

    :hover {
      cursor: pointer;
    }
  }

  &_menu-button {
    border-radius: 7px;
    background-color: mistyrose;
    padding: 7px;
    margin: 10px 5px 10px 10px;
    opacity: 0.8;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    text-transform: uppercase;
  }

  &_name-body {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    text-transform: lowercase;

    :hover {
      text-transform: uppercase;
    }
  }

  &_image-body {
    display: flex;
    justify-content: center;

    :hover {
      opacity: 0.9;
    }
  }

  &_desc-body {
    margin: 25px auto 25px 35px;
    font-family: 'Lato', sans-serif;
  }

  &_buttons {
    display: flex;
    justify-content: center;
  }

  &_remove-button {
    @include button;
  }
}
