@import '../../assets/colors.scss';
@import '../../assets/mq.scss';

.article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  justify-items: center;

  @include mq($from: desktop) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    margin: 100px 200px 0 50px;
  }

  &__title {
    grid-row: 1;
    font-size: 28px;
    letter-spacing: 1px;
    font-family: futura-pt, sans-serif;
    margin: 60px 0 30px;
    font-weight: 500;

    @include mq($from: desktop) {
      grid-column: 2;
      grid-row: 1;
      font-size: 32px;
      justify-self: start;
      margin: 0;
    }
  }

  &__image {
    max-height: 200px;
    grid-row: 2;

    @include mq($from: desktop) {
      max-height: 360px;
      grid-row: 1 / span 3;
      grid-column: 1;
      margin-top: 20px;
    }
  }

  &__info {
    grid-row: 3;
    width: 100%;
    padding: 30px 45px 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    font-family: futura-pt, sans-serif;
    font-size: 24px;
    margin: 30px 0 15px;
    max-width: 300px;

    @include mq($from: desktop) {
      grid-row: 2;
      grid-column: 2;
      justify-self: start;
      padding: 0;
    }

    &__title {
      grid-column: 1;
      font-family: futura-pt, sans-serif;
      letter-spacing: 2px;
      font-size: 20px;
    }

    &__figure {
      grid-column: 2;
      letter-spacing: 0.1em;
      justify-self: end;
      font-weight: 400;
    }
  }

  &__buttons {
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr;

    @include mq($from: desktop) {
      grid-column: 2;
      grid-row: 3;
      justify-self: start;
    }

    &__button {
      // todo: add box shadow
      height: 45px;
      width: 235px;
      border-radius: 3px;
      background-color: #fcf8f5;
      text-align: center;
      margin: 15px 0px;
      border: none;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 500;
      padding: 10px;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
      &__add {
        color: red;
      }

      &__edit {
        color: purple;
      }

      &__remove {
        color: turquoise;
      }
    }
  }
}
