@import '../../assets/main.scss';

.article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  margin: 0 50px;

  @include mq($from: desktop) {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    margin-top: 120px;
    // margin: 100px 200px 0 50px;
  }

  &__title {
    @include type-style-header-futura;
    grid-row: 1;
    margin: 60px 0 30px;

    @include mq($from: desktop) {
      grid-column: 2;
      grid-row: 1;
      font-size: 32px;
      justify-self: start;
      margin: 0;
    }
  }

  &__image {
    max-height: 200px;
    grid-row: 2;

    @include mq($from: desktop) {
      max-height: 360px;
      grid-row: 1 / span 3;
      grid-column: 1;
      margin-top: 20px;
    }
  }

  &__info {
    grid-row: 3;
    width: 100%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 7px;

    @include mq($from: desktop) {
      grid-row: 2;
      grid-column: 2;
      justify-self: start;
    }

    &__title {
      grid-column: 1;
      @include type-style-display-body;
    }

    &__figure {
      @include type-style-utility-bold;
      grid-column: 2;
      justify-self: end;
    }
  }

  &__buttons {
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;

    @include mq($from: desktop) {
      grid-column: 2;
      grid-row: 3;
      justify-self: start;
    }

    &__button {
      @include closet-main-toolbar-btn;
      height: 45px;
      width: 235px;
      background-color: #fcf8f5;
      text-transform: uppercase;

      &__add {
      }

      &__edit {
      }

      &__remove {
      }
    }
  }
}
