@font-face {
  font-family: 'Braggadocio';
  font-style: normal;
  font-weight: normal;
  src: local('Braggadocio'), url('bragga.woff') format('woff');
}

* {
  box-sizing: border-box;
}

/* body */

#app {
  color: #222222;
}

body {
  font-family: futura-pt, serif;
  display: block;
  position: relative;
  width: 100vw;
  background-color: white;
  margin: 0px;
  padding: 0px;
  z-index: 4;
  min-width: 320px;
  height: 100%;
  text-rendering: optimizeLegibility;
}

/* navbar */
nav {
  background-attachment: scroll;
  border: none;
  height: 85px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
