@font-face {
  font-family: 'Braggadocio';
  font-style: normal;
  font-weight: normal;
  src: local('Braggadocio'), url('bragga.woff') format('woff');
}

* {
  box-sizing: border-box;
}

/* body */

body {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  display: block;
  position: relative;
  width: 100vw;
  background-color: rgb(247, 245, 244);
  margin: 0px;
  padding: 0px;
  z-index: 4;
}

/* navbar */
nav {
  background-attachment: scroll;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  justify-content: flex-start;
  /* height: 4vh; */
  width: 100vw;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* navbar */
nav {
  border: none;
}

nav #logo {
  font-size: 2em;
  color: rgb(233, 104, 233);
  font-family: 'Braggadocio';
}

#user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
