@font-face {
  font-family: 'Braggadocio';
  font-style: normal;
  font-weight: normal;
  src: local('Braggadocio'), url('bragga.woff') format('woff');
}

/* body */

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* navbar */
nav {
  border: none;
}

nav #logo {
  font-size: 32px;
  color: rgb(209, 12, 209);
  font-family: 'Braggadocio';
}

#user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
