@import '../../assets/mq.scss';

.auth {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  justify-items: center;
  text-align: center;
  margin: 50px 70px 50px 70px;

  svg {
    width: 90px;
    height: 100px;
    grid-row: 1;
  }

  &__title {
    grid-row: 2;
    font-size: 22px;
    font-family: 'Lato', serif;
    letter-spacing: 0.1em;
    font-weight: 100;
    margin-top: 45px;
  }

  &__form {
    grid-row: 3;
    margin-top: 60px;

    &__input {
      width: 200px;
      height: 45px;
      border: solid 1px #f0e9e4;
      border-radius: 3px;
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0.2em;
      text-align: center;
      margin-top: 20px;

      @include mq($from: tablet) {
        margin-right: 30px;
      }
    }

    &__submit {
      width: 200px;
      height: 45px;
      background-color: #fcf8f5;
      border-color: #fcf8f5;
      border-radius: 3px;
      font-size: 22px;
      font-family: 'Playfair Display', serif;
      letter-spacing: 0.1em;
      margin-top: 30px;
    }
  }

  &__socialauth {
    font-size: 18px;
    font-family: 'Lato', serif;
    letter-spacing: 0.1em;
    font-weight: 100;
    margin-top: 15px;
    color: #840003;
  }

  &__or {
    font-size: 18px;
    font-family: 'Lato', serif;
    letter-spacing: 0.1em;
    font-weight: 100;
    margin-top: 50px;
    color: #840003;
  }

  &__route {
    width: 200px;
    height: 45px;
    background-color: #fcf8f5;
    border-color: #fcf8f5;
    border-radius: 3px;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
    margin-top: 30px;
    padding-top: 5px;
    color: black;
  }

  &__login {
    display: none;
    // background-color: red;
  }

  &__signup {
    display: none;
    // background-color: blue;
  }
}
