@import '../../assets/main.scss';

.outfits {
  transition: all ease-in;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0 22px;

  @include mq($from: desktop) {
    grid-template-columns: 210px 1fr;
    grid-template-rows: 120px 1fr;
  }

  &__title {
    @include type-style-header;
    margin: 35px 0;
    text-align: center;
    align-self: center;

    @include mq($from: desktop) {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    grid-column-gap: 13px;
    margin-bottom: 40px;

    @include mq($from: desktop) {
      grid-column: 1;
      grid-row: 2;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto) 1fr;
      row-gap: 30px;
    }

    &__button {
      @include closet-main-toolbar-btn;
      padding-top: 8px;
      width: 90px;
      height: 40px;

      @include mq($from: desktop) {
        height: 55px;
      }

      &__shuffle {
        color: #5252d4;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    column-gap: 20px;

    @include mq($from: desktop) {
      grid-column: 2;
      grid-row: 2;
      grid-template-columns: repeat(3, auto);
      margin-right: 200px;
    }

    &__hoverMenu {
      background-color: white;
      // transform: translateY(-200px);
      font-size: 22px;
      font-weight: 700;
      z-index: 10;
      max-width: 150px;
      padding: 15px;
      margin-top: -200px;
      opacity: 0.7;

      &__removeBtn {
        @include closet-item-toolbar-btn;
        height: fit-content;
        padding: 7px;
        font-size: 16px;
        margin-top: 10px;
        font-weight: 600;
      }
    }

    &__outfit {
      width: 100%;
      background-color: #fcf8f5;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      display: grid;
      grid: repeat(2, auto) / repeat(2, auto);
      align-items: center;
      justify-items: center;
      justify-content: center;
      padding: 15px;
      margin-bottom: 30px;
      row-gap: 12px;
      column-gap: 12px;

      &__dress {
        grid-column: 1;
        grid-row: 1 / span 2;
        max-height: 175px;
      }

      &__top {
        grid-column: 1;
        grid-row: 1;
        max-height: 125px;
      }
      &__bottom {
        grid-column: 1;
        grid-row: 2;
        max-height: 125px;
      }
      &__outerwear {
        grid-column: 2;
        grid-row: 1;
        max-height: 175px;
      }
      &__shoes {
        grid-column: 2;
        grid-row: 2;
        max-height: 125px;
      }
    }
  }
}
